body {
  background-color: #b6d4f3;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.login-box {
  background: rgb(64, 203, 238);
  padding: 30px;
  border-radius: 15px;
  width: 300px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(115, 106, 238, 0.3);
}

.login-box h2 {
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #77f0f0;
}

.login-box button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #2084e9;
  color: rgb(231, 236, 238);
  font-size: 16px;
  cursor: pointer;
}

.login-box button:hover {
  background: #90bcf3;
}

#error {
  color: red;
  margin-top: 10px;
}
